#!/bin/sh

# The base domain for all services, e.g. mdm.yourdomain.com
export DOMAIN=

# The email included while requesting TLS certificates from Let's Encrypt
export EMAIL=

# basic authentication for the load balancer dashboard, generate with `htpasswd -bnBC 10 <username> <password>`
# This value MUST be enclosed in single quotes!
export DASHBOARD_AUTHENTICATION='...'

# The challenge required to request scep certificates from our certificate authority
export SCEP_CHALLENGE=

# The password for the nanomdm database
export NANOMDM_DB_PASSWORD=

# The api key for nanomdm admin functions, generate a strong one
export NANOMDM_API_KEY=

# The admin api for kmfddm admin functions, generate a strong one
export KMFDDM_API_KEY=
